body {
    padding: 50px;
}
.box span {
    display: block;
    text-align: center;
    margin-top: 90px;
}
.box {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: azure;
    animation: move 1s linear reverse infinite, infinite bg-color 2s;
}



@keyframes bg-color{
    0%{
       background: red;
    }

    100% {
      background: white;
    }
}
.box:hover{
    animation-play-state: paused;
}